<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reseña</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Protest+Riot&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/styles/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Protest+Riot&family=Shadows+Into+Light&family=Single+Day&display=swap" rel="stylesheet">
<link rel="icon" href="../../assets/img/lavanda.png" type="image/png">
  </head>
  <body>
    <header>

    </header>
    <main>
      <section class="container">
        <div class="row text-center justify-content-center mt-5">
          <div class="col-3 fuente">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus
              culpa error omnis ipsum quod! Inventore vero doloribus saepe
              libero ea.
            </p>
          </div>
          <div class="col-3 fuente2">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam
              maiores animi deleniti rem aut, provident repellendus! Consequatur
              tenetur autem dolorum.
            </p>
          </div>
          <div class="col-3 fuente3">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi
              vel quaerat facere inventore quia voluptatibus voluptatum quod
              voluptate laborum id.
            </p>
          </div>
          <div class="col-3 fuente4">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi
              alias exercitationem at deleniti veritatis mollitia numquam quas
              nostrum eveniet nisi!
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
